{% extends "base.html" %}
{% block content %}
<style>
.news-wrap {
 margin-bottom: 40px;
 -webkit-box-shadow: 0px 5px 12px -1px rgba(0, 0, 0, 0.06);
 -moz-box-shadow: 0px 5px 12px -1px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 5px 12px -1px rgba(0, 0, 0, 0.06);
  background: #fff;

  }
  .news-wrap .img {
   width: fill;
   margin-left:3%;
   margin-right:3%;
   height: 220px;
   background-size:cover;

  }
  .news-header{
  text-transform:uppercase;
  letter-spacing:3px;
   font-weight: 550;
  }
  .news-wrap .text {
   border-top: none;
   padding: 20px 30px 30px;
   }

    .news-wrap .text h2 {
     font-size: 20px;
     font-weight: 500;
       }

    .news-wrap .text h2 a {
    font-weight: 400;
    letter-spacing:2px;
    text-transform:uppercase;

         }
    .news-wrap .text span.cat {
      font-weight: 700;
      color: rgba(0, 0, 0, 0.6);
      display: block;
      margin-bottom: 0; }
    .news-wrap .text p.d-block {
      width: 100%; }
      .player-wrap .text p.d-block a {
        width: 100%;
         }
.
</style>


<div class="container">
    <div class="row justify-content-center">
        {% if user.is_superuser and user.is_authenticated %}
            <div class="col-lg-4 mb-4">
                 <a class="btn btn-primary btn-block" href="{% url 'news-create' %}" >Add news</a>
            </div>
        {% endif %}
            <div class="col-lg-6 mb-4">
                 {% include 'search/news_search_form.html' %}
            </div>
        </div>
    <div class="row justify-content-center">
        <h6 class="text-center news-header mb-4">Latest news</h6><hr>
    </div>
    <div class="row">
        {% for new in news %}
        <div class="col-md-4">
            <div class="news-wrap rounded ftco-animate">
                 <a href="{% url 'news-detail' new.pk %}">
                     <div class="img d-flex">
                            <img src="{{new.imageURL}}" style="margin-top:10px;width:fill;" class="">
                     </div>
                </a>

                <div class="text">
                        <h2 class="mb-0"><a href="{% url 'news-detail' new.pk %}">{{new.title}}</a></h2><hr>

                        <p style="color:#000;" class="d-flex mb-0 d-block">{{new.content|truncatewords:20}}</p>
                        <div class="d-flex mb-3 mt-3">
                            <span class="cat"></span>
                            <p class="jersey ml-auto">{{new.date}}</p>
                        </div>
                    </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% include 'paginate.html' %}
</div>

{% endblock content%}
