{% extends "base.html" %}
{% block content %}
{% load static %}
<style>
    .news-card{
    }
    .news-card .poster{
    position:relative;
    overflow:hidden;
    }
    .news-card .poster{
    content:'';
    bottom:0;
    left:0;
    width:100%;
    transition:0.5s;
    z-index:1;
    }
    .news-card .poster img{
    width:100%;
    height:300px;
    opacity:0.8;
    transition:0.9s;
    }
    .poster:hover img{
    transform:scale(1.2);
    opacity:1.0;
    }
    .details{
    position:absolute;
    padding:20px;
    width:100%;
    height:50%;
    bottom:0;
    left:0;
    box-sizing:border-box;
    transition:0.5s;
    z-index:2;
    }
    .details h2{
    margin:0;
    padding:0;
    font-weight:700 !important;
    letter-spacing:2px;
    text-transform:uppercase;
    line-height:25px !important;
    }
    .details a{
    color:yellow !important;

    }
    .rating{
    position:absolute;
    padding:20px;
    width:100%;
    height:20%;
    bottom:0;
    left:0;
    box-sizing:border-box;
    transition:0.5s;
    z-index:2;
    }
    .rating i{
    margin-right:20px;
    }
    .rating p{
    color:#fff !important;
    }

</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-4">
            <a class="btn btn-info btn-block" href="{% url 'news-create' %}">Add news</a>
        </div>
        <div class="col-md-6 mb-4">
             {% include 'search/news_search_form.html' %}
        </div>
    </div>
    <div class="row">
        {% for new in news %}
        <div class="col-md-4 mb-4">
            <div class="card news-card">
                <div class="poster">
                    <a href="{% url 'news-detail' new.pk %}" ><img src="{{new.imageURL}}"></a>
                </div>
                <div class="details">
                    <h2 class="text-center"><a href="{% url 'news-detail' new.pk %}">{{new.title}}</a></h2>
                </div>

                <div class="rating text-center">
                    <p><i class="fa fa-calendar"></i>{{new.date}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% include 'paginate.html' %}
</div>
{% endblock content%}
