{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row mb-4">
        <div class="col-md-6">
            <a class="btn btn-success" href="{% url 'injury_create' %}">add new injury</a>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Injury Id</th>
            <th>Injury Type</th>
            <th>Players</th>
            <th>Date</th>
            <th>Remove</th>
        </tr>
        </thead>

        <tbody>
        {% for injury in injuries %}
        <tr>
            <td>
                <a href="">{{ injury.id }}</a>
            </td>

            <td>
                {{ injury.injury_type }}
            </td>
            <td>
                <a href="#">{{ injury.player}}</a>
            </td>

            <td>{{ injury.date_added }}</td>
            <td>
                <a class="btn btn-success btn-sm" href="{% url 'injury-delete' injury.pk %}">remove</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}