{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
.player-wrap {
 margin-bottom: 40px;
 -webkit-box-shadow: 0px 5px 12px -1px rgba(0, 0, 0, 0.06);
 -moz-box-shadow: 0px 5px 12px -1px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 5px 12px -1px rgba(0, 0, 0, 0.06);
  background: #fff;

  }
  .player-wrap .img {
   width: fill;
   margin-left:3%;
   margin-right:3%;
   height: 220px;
   background-size:cover;

  }
  .players-title{
  text-transform:uppercase;
  letter-spacing:2px;
  font-family: 'Peddana', serif !important;
  }
  .player-wrap .text {
    border-top: none;
    padding: 20px 30px 30px; }
    .player-wrap .text .jersey {
      color: #1089ff;
      font-size:20px;
      margin-bottom: 0;
      font-weight: 600;
       }

      .player-wrap .text .jersey span {
        font-size: 12px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.3);
        }

    .player-wrap .text h2 {
      font-size: 20px;
      font-weight: 500; }
      .car-wrap .text h2 a {
        color: #000000; }
    .player-wrap .text span.cat {
      font-weight: 700;
      color: rgba(0, 0, 0, 0.6);
      display: block;
      margin-bottom: 0; }
    .player-wrap .text p.d-block {
      width: 100%; }
      .player-wrap .text p.d-block a {
        width: 100%;
         }
.btn-sm{
color:#fff !important;
}
</style>

<section class="ftco-section">
    <div class="container">
        {% if user.is_superuser and user.is_authenticated %}
        <div class="row mb-3">
          <div class="col-md-6 mb-4">
              <a class="btn btn-primary btn-block add-player-btn" href="{% url 'add-player' %}"  style="text-transform:uppercase;">Add new player</a>
          </div>
          <div class="col-md-6 mb-4">
             {% include 'search/player_search_form.html' %}
           </div>

        </div>
        {% else %}
        <div class="row mb-3">
            <div class="col-md-4">
                {% include 'search/player_search_form.html' %}
            </div>
        </div>
        {% endif %}


        <div class="row justify-content-center">
             <div class="col-md-4 mb-4">
                   <h4 class="text-center players-title"></h4>
             </div>
        </div>
        <div class="row">
            {% for player in players %}
            <div class="col-md-4">
                <div class="player-wrap rounded ftco-animate">
                    <a href="{% url 'player-detail' player.pk %}">
                        <div class="img d-flex">
                            <img src="{{player.imageURL}}" style="margin-top:10px;width:fill;" class="">
                        </div>
                    </a>

                    <div class="text">
                        <h2 class="mb-0"><a href="{% url 'player-detail' player.pk %}">{{player.user.first_name}} {{player.user.last_name}}</a></h2>
                        <div class="d-flex mb-3">
                            <span class="cat">{{player.position}}</span>
                            <a class="jersey ml-auto" href="{% url 'player-detail' player.pk %}">{{player.age}}</a>
                        </div>
                        {% if player.available %}
                        <h6 style="color:#fff;" class="d-flex mb-0 d-block"><a href="{% url 'player-detail' player.pk %}" class="btn btn-primary btn-block py-2 ml-1">Available</a> </h6>
                        {% else %}
                         <h6 style="color:#fff;" class="d-flex mb-0 d-block">
                             <a href="{% url 'player-detail' player.pk %}" class="btn btn-danger btn-block py-2 ml-1">injured (unavailable) <img src="{% static 'images/warning.png' %}" class="" style="height:20px;"></a>
                         </h6>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

      {% include 'paginate.html' %}
    </div>
</section>
{% endblock %}