{% extends "base.html" %}
{% block content %}
<style>
    .label{
    color:#000;
    font-weight:550;
    letter-spacing:1.4px;
    }
</style>
<div class="container">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="form-group col-md-7">
                <label class="label">Role:</label>
                {{form.title}}
            </div>
            <div class="form-group col-md-7">
                <label class="label">Nationality:</label>
                {{form.nationality}}
            </div>
             <div class="form-group col-md-7">
                <label class="label">Trophies:</label>
                {{form.trophies}}
            </div>
             <div class="form-group col-md-7">
                <label class="label">Wins:</label>
                {{form.wins}}
            </div>
            <div class="form-group col-md-7">
                <label class="label">Draws:</label>
                {{form.draws}}
            </div>
            <div class="form-group col-md-7">
                <label class="label">Losses:</label>
                {{form.losses}}
            </div>
             <div class="form-group col-md-7">
                <label class="label">Image:</label>
                {{form.image}}
            </div>
             <div class="form-group col-md-7">
                <button class="btn btn-info btn-block" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock content%}
