{% extends "base.html" %}
{% block content %}
<style>
.card {
border-radius: 5px;
box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
border: none;
margin-bottom: 30px;
}
.table-head{
letter-spacing:2px;
text-transform:uppercase;
font-size:18px;
}
.table th{
border-bottom: none !important;
}
.table td, .table th {
    border-top: none !important;
}
</style>
<div class="container ">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="row justify-content-center">
                    <div class="col-md-4 text-center mt-3">
                        <h5>ID</h5>
                        <h2 class="session-id"><span class="badge badge-pill badge-primary">{{session.id}}</span></h2>
                    </div>
                    <div class="col-md-4 text-center mt-3">
                        <h6 class="mb-4">Date</h6>
                        <h6 class="text-muted">{{session.date}}</h6>
                    </div>
                    <div class="col-md-4 text-center mt-3">
                        <h6 class="mb-4">Status</h6>
                        <h5>{{session.status}}</h5>
                    </div>
                </div><hr>

                <div class="row justify-content-center">
                    <div class="col-md-6 mt-3 text-center">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="table-head">Coaches:</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><h6>{{ session.coach.all|join:", " }}</h6></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-6 mt-3 text-center">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="table-head">Players:</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><h6>{{ session.player.all|join:", " }}</h6></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}
