{% extends "base.html" %}
{% block content %}
<div class="container">
    <form action="{% url 'create-contract' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="form-group col-md-7">
                <label>Player</label>
                {{form.player}}
            </div>
            <div class="form-group col-md-7">
                <label>Start Date</label>
                {{form.start_date}}
            </div>
            <div class="form-group col-md-7">
                <label>End Date</label>
                {{form.end_date}}
            </div>
             <div class="form-group col-md-7">
                <label>Salary</label>
                {{form.salary}}
            </div>
             <div class="form-group col-md-7">
                <label>Bonuses</label>
                {{form.bonuses}}
            </div>
             <div class="form-group col-md-7">
                <label>Buyout Clause:</label>
                {{form.buyout_clause}}
            </div>
             <div class="form-group col-md-7 text-center">
                <button class="btn btn-info" type="submit">Create Contract</button>
            </div>
        </div>
    </form>
</div>
{% endblock content%}
