
{% extends "base.html" %}
{% block content %}
<style>
    .add-player h5{
    letter-spacing:2px;
    margin-top:20px;
    margin-bottom:20px;
    text-transform:uppercase;
    line-height:30px;
    font-weight:500;
    color:#000;
    }
    .errorlist li{
    color:red !important;
    }
</style>
<div class="container">
   <div class="row justify-content-center">
      <div class="col-md-12">
          <form action="" method="post" enctype="multipart/form-data" class="add-player">
               {% csrf_token %}
               <h5 class="text-center">User details</h5>
             <div class="row justify-content-center">
                 <div class="form-group col-md-4 mb-4">
                     <label class="label">Username</label>
                     {{user_form.username.errors}}
                     {{user_form.username}}
                 </div>
                 <div class="form-group col-md-3 mb-4">
                     <label class="label">First Name</label>
                     {{user_form.first_name.errors}}
                     {{user_form.first_name}}
                 </div>

                 <div class="form-group col-md-3 mb-4">
                     <label class="label">Last Name</label>
                     {{user_form.last_name.errors}}
                     {{user_form.last_name}}
                 </div>
             </div>
              <div class="row justify-content-center">
                  <div class="col-md-10 mb-4">
                      <label class="label">Email</label>
                      {{user_form.email.errors}}
                      {{user_form.email}}
                  </div>
              </div>
              <div class="row justify-content-center">
                  <div class="col-md-5 mb-4">
                      <label class="label">Password</label>
                      {{user_form.password1}}
                  </div>

                  <div class="col-md-5 mb-4">
                      <label class="label">Confirm Password</label>
                      {{user_form.password2}}
                  </div>
              </div>
              <div class="row justify-content-center">
                  <div class="col-md-5 mb-4">
                      <label class="label">Position</label>
                          {{player_form.position}}
                  </div>
                  <div class="col-md-5 mb-4">
                      <label class="label">Country</label>
                      {{player_form.country}}
                  </div>
              </div>
              <div class="row justify-content-center">
                  <div class="col-md-5 mb-4">
                      <label class="label">Dob</label>
                      {{player_form.dob.errors}}
                      {{player_form.dob}}
                  </div>

                  <div class="col-md-5 mb-4">
                      <label class="label">Jersey No</label>
                      {{player_form.jersey_no}}
                  </div>
              </div>
              <div class="row justify-content-center">
                  <div class="col-md-10 mb-4">
                      <label class="label">Image</label>
                      {{player_form.image}}
                  </div>
              </div>
              <div class="row justify-content-center">
                  <div class="col-md-5 mb-4">
                      <label class="label">Start Date</label>
                      {{contract_form.start_date.errors}}
                      {{contract_form.start_date}}
                  </div>

                  <div class="col-md-5 mb-4">
                      <label class="label">End Date</label>
                      {{contract_form.end_date.errors}}
                      {{contract_form.end_date}}
                  </div>
              </div>

              <div class="row justify-content-center">
                  <div class="col-md-5 mb-4">
                      <label class="label">Daily Pay</label>
                      {{contract_form.daily_pay}}
                  </div>

                  <div class="col-md-5 mb-4">
                      <label class="label">Buyout Clause</label>
                      {{contract_form.buyout_clause}}
                  </div>
              </div>

              <div class="row justify-content-center">
                  <div class="col-md-6 mb-4">
                      <button class="btn btn-success btn-block" type="submit">Submit</button>
                  </div>
              </div>
          </form>
      </div>
   </div>
</div>

<script></script>
{% endblock content%}
