{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
.card {
border-radius: 5px;
box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
border: none;
margin-bottom: 30px;
}
</style>
<div class="container">
    <div class="content-section">
        <div class="card">
            <div class="card-body">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="media">
                {% if user.is_superuser %}
             <img class="rounded-circle account-img" src="{{ injury.player.imageURL }}">
                {% endif %}

             </div>
        </div>

        <div class="col-md-6 mt-4">
            <div class="media-body mt-4">
                   <h6 class="account-heading mb-4">{{ injury.player.jersey_no }}</h6>
                   <p class="text-secondary mb-4">Position: {{ injury.player.position }}</p>

             </div>
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>

          </fieldset>
        </div>
    </div>
        </div>
    </div>
    </div>
</div>
{% endblock content %}