{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}

<style>
.card {
border-radius: 5px;
box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
border: none;
margin-bottom: 30px;
}
    .single_player{
    margin-bottom:50px;
   }
   .p_details_list{
    margin-top:80px;
    }
    .p_details_list .list li{
    margin-bottom:20px;
    }
    .p_details_list .list li a{
    background: linear-gradient(to right, #244cfd, #15e4fd);
    display: block;
    line-height: 50px !important;
    padding: 0px 18px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #fff;
    text-decoration:none;
    text-transform:capitalize;

    }
    .p_details_list .list li a span{
    float: right;
    font-size: 18px !important;
    }
    .p_details_list .list li:first-child a span{
     color: #000;
    }
    .p_details_list .list li:last-child a span{
    color:red;
    }
    .c_details_img img{
    height:430px;
    }
    #myTab{
    border:none;
    margin-top:70px;
    margin-left:0px;
    margin-top:30px;
    }
    #myTab li{
    margin:0px;
    margin-right:75px;
    }
     @media (max-width: 768px) {
    #myTab{
    border:none;
    margin-top:70px;
    margin-left:0px;
    margin-top:30px;
    }
    #myTab li{
     margin-left:0px !important;
      margin-right:10px;
    }
     #myTab li a{
     margin-left:19px !important;
    }
    }
     #myTab li a{
    border:none;
    margin-bottom:0px;
    line-height:55px;
    font-size:15px !important;
    letter-spacing:2px;
    color: grey !important;
    font-weight:600;
    padding: 0px !important;
    border-bottom: 1px solid transparent;
    }
    #myTab li a.active{
    border-color: #17a2b8;
    color:#000 !important;

    }
    #myTabContent{
    background: linear-gradient(45deg, #17a2b8, #17a2b8, #007bff);
    }
    #myTabContent .objective_text{
    padding: 35px;
    border: 1px solid #eeeeee;
    }
    #myTabContent .objective_text h6{
    text-transform:lowercase;
    color: #2c234d;
    font-weight: 600;
    letter-spacing:2px;
    font-size: 17px;
    }
    #myTabContent .objective_text p{
    text-transform:lowercase;
    color: #fff;
    letter-spacing:2px;
    font-weight: 600;
    font-size: 12px;
    margin-bottom:20px;
    }
    .fa{
    margin-left:6px;
    }

</style>
<section class="player_area single_player p_120">
    <div class="container">
        <div class="row player_details_inner justify-content-center">
            <div class="col-lg-5">
                <div class="c_details_img">
                    <img src="{{object.imageURL}}" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="p_details_list">
                    <ul class="list">
                       <li><a href="" class="lin">Name <span>{{object.user.first_name}} {{object.user.last_name}}</span></a></li>
                       <li><a href="" class="lin">Position<span>{{object.position}}</span></a></li>
                       <li><a href="" class="lin">Appearances<span>{{object.appearances}}</span></a></li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="card" style=" margin-top:80px;">
                    <div class="card-body">
                        {% if user.is_superuser and user.is_authenticated %}
                         <a class="btn btn-success btn-block mb-2" href="{% url 'player-update' player.pk %}">edit player<i class="fa fa-edit"></i> </a>
                        <a class="btn btn-danger btn-block mb-2" href="{% url 'player-delete' player.pk %}">delete player<i class="fa fa-times"></i> </a>
                        <a class="btn btn-secondary btn-block mb-2" href="{% url 'add_unavailable_player' player.jersey_no %}">add to unavailable list</a>
                       {% else %}
                        <a class="btn btn-success btn-block"></a>
                        {% endif %}
                         {% if user.is_superuser and user.is_authenticated and not player.injuries %}
                        <a class="btn btn-outline-success btn-block mb-2" href="{% url 'add_injury' player.jersey_no %}">add to injury list</a>
                        {% endif %}

                        {% for injury in player.injuries %}
                           <a class="btn btn-primary btn-block mt-4" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                      view injury details
                         </a>
                  <div class="collapse mt-2" id="collapseExample">
                             <div class="card card-body">
                               <h6>{{injury.injury_type}}</h6>

              <p>Date</p> <span>{{injury.date_added}}</span>
              {% if user.is_authenticated and user.is_superuser %}
              <a class="btn btn-info btn-block mt-2" href="{% url 'update_injury' injury.id %}">update</a>
                  <a class="btn btn-warning btn-block mt-2 " href="{% url 'delete_injury' injury.id %}">delete</a>
              {% endif %}
          </div>
     </div>
                        {% endfor %}

                     </div>
                </div>
            </div>
        </div>

        <div class="row player-statistics">
            <div class="col-lg-8">
                 <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Biography</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Contract</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Statistics</a>
                    </li>
                </ul>

                 <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="objective_text">
                            <h6>nationality</h6>
                            <p>{{object.country.name}}</p>

                            <h6>dob</h6>
                            <p>{{object.dob}}</p>

                            <h6>age</h6>
                            <p>{{object.age}} years</p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="objective_text">
                           {% for contract in contracts %}
                            <h6>Start date</h6>
                            <p>{{contract.start_date}}</p>
                            <h6>End date</h6>
                            <p>{{contract.end_date}}</p>
                            <h6>Salary</h6>
                            <p>{{contract.salary|intcomma}} ksh</p>
                            <h6>Buyout clause</h6>
                            <p>{{contract.buyout_clause|intcomma}} ksh</p>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="objective_text">
                            <h6>goals</h6>
                            <p>{{object.goals}}</p>

                            <h6>yellow cards</h6>
                            <p>{{object.yellow_card}}</p>

                             <h6>red cards</h6>
                            <p>{{object.red_cards}}</p>
                        </div>
                    </div>
                 </div>

            </div>
        </div>
    </div>

</section>

{% endblock %}