{% extends "base.html" %}
{% block content %}
<style>
    .player-form{
    padding:5px;
    }
    .edit-player-h4{
    letter-spacing:2px;
    text-transform:capitalize;
    }
</style>
<div class="row justify-content-center">
    <div class="col-md-6">
        <form action="" method="post" enctype="multipart/form-data" class="player-form">
        {% csrf_token %}
        <h5 class="text-center edit-player-h4">edit player</h5><hr>
               {{form.as_p}}
        <button class="btn btn-info mt-4 btn-block" type="submit">Submit</button>
       </form>
    </div>
</div>

{% endblock content%}
