<footer class="footer">
    <div class="footer_background" style="background-image:url('/static/images/footer_background.png')">

    </div>
    <div class="container">
        <div class="row footer_row">
            <div class="col">
                <div class="footer_content">
                    <div class="row">
                        <div class="col-lg-4 footer_col">
                            <div class="footer_section footer_about">
                                <div class="footer_logo_container">
                                    <a href="">
                                        <div class="footer_logo_text">Thuch<span>eiz</span></div>
                                    </a>
                                </div>
                                <div class="footer_about_text">
										<p>Lorem ipsum dolor sit ametium, consectetur adipiscing elit.</p>
								</div>
                            </div>
                        </div>
                      <div class="col-lg-4 footer_col text-center">
                          <!-- Footer Contact -->
						<div class="footer_section footer_contact">
							<div class="footer_title">Contact Us</div>
                            <div class="footer_contact_info">
								<ul>
									<li>Email: Thucheiz.fc@gmail.com</li>
									<li>Phone:  +(88) 111 555 666</li>
									<li>40 Baria Sreet 133/2 Nairobi City, Kenya</li>
								</ul>
							</div>
						</div>

                      </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row copyright_row">
				<div class="col">
					<div class="copyright d-flex flex-lg-row flex-column align-items-center justify-content-start">
                        <div class="cr_text">
                         Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script>
                            All rights reserved | This website is made with
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            by
                            <a href="#" target="_blank">Stars</a>
                        </div>
						<div class="ml-lg-auto cr_links">
							<ul class="cr_list">
								<li><a href="#">Copyright notification</a></li>
								<li><a href="#">Terms of Use</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>
					</div>
				</div>
        </div>
    </div>

</footer>