{% load static %}
<div class="footer">
<div class="content">
    <div class="row">
        <div class="col-md-4 text-center mb-4">
             <h1 class="logo-text"><span>Thuch</span>eiz FC</h1>
            <p></p>
            <ul class="socials">
                <li><i class="fab fa-facebook-square"></i></li>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-linkedin"></i></li>
                <li><i class="fab fa-instagram"></i></li>
            </ul>
        </div>
        <div class="col-md-4 text-center">
            <h2 class="our-address">Our addresses</h2>
            <ul class="address">
                <li><i class="fas fa-map-marker"></i>Kenya (Nairobi) </li>
                <li><i class="fas fa-phone"></i>+254 - 567 - 560 - 442</li>
                <li><i class="fas fa-envelope"></i>@thucheizunited.com</li>
            </ul>
        </div>

        <div class="col-md-4 text-center">
            <h2 class="quick-links" >quick links</h2>
            <ul class="links">
                <li>
                    <a href="">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        Home
                    </a>
                </li>

                 <li>
                    <a href="{% url 'contact-us' %}">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        Contact
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        News
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div><hr>

    <div class=" row mb-2">
        <div class="col-md-12 text-center">
              &copy; Thucheiz United | Designed by Brian Muthuure
        </div>

    </div>
</div>