{% extends "base.html" %}
{% block content %}
<style>
.card {
border-radius: 5px;
box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
border: none;
margin-bottom: 30px;
}
.card .card1 {
background-color: #4c70b9;
padding-top: 12px;
padding-bottom: 12px;
border-bottom: none;
padding: 25px 20px;
}
.card .card2 {
background-color: #20B2AA;
padding-top: 12px;
padding-bottom: 12px;
border-bottom: none;
padding: 25px 20px;
}
.card .card3 {
background-color: #191970;
padding-top: 12px;
padding-bottom: 12px;
border-bottom: none;
padding: 25px 20px;
}
.card .card4 {
background-color: #663399;
padding-top: 12px;
padding-bottom: 12px;
border-bottom: none;
padding: 25px 20px;
}
.total-layers-title, .available-players-title, .injured-players-title, .coach-title{
letter-spacing:2px;
color:#fff;
text-transform:uppercase;
}
.card-block {
 padding: 1.35rem;

}
.total-players a, .available-players a, .injured-players a,.coaches a{
font-size:30px;
font-weight:600;
}
.add-session, .delete-session{
font-size:12px !important;
}
</style>
<div class="container ">
    <div class="row totals">
        <div class="col-md-4">
            <div class="card mb-4 total-players">
                <div class="card-header card1">
                    <h6 class="text-center total-layers-title">Total Players</h6>
                </div>
                <div class="card-block text-center">
                    <h5><a href="{% url 'player-list' %}">{{players}}</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 injured-players">
                <div class="card-header card3">
                    <h6 class="text-center injured-players-title">Injured Players</h6>
                </div>
                <div class="card-block text-center">
                    <h5><a href="" >{{injured}}</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 coaches">
                <div class="card-header card4">
                    <h6 class="text-center coach-title">Coaches</h6>
                </div>
                <div class="card-block text-center">
                    <h5><a href="{% url 'coach-list' %}" >{{coaches}}</a></h5>
                </div>
            </div>
        </div>
    </div>

    <div class="training-section">
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                <div class="card-body">
                    <a href="{% url 'create-session' %}" class=" btn btn-success btn-block">Add new session</a>
                </div>
            </div>
            </div>
        </div>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="text-center">Completed Training Sessions</h6>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Session ID</th>
                                    <th>Date</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for session in sessions %}
                                <tr>
                                    <td><a href="{% url 'training-detail' session.id %}" >{{session.id}}</a></td>
                                    <td><p class="text-muted" >{{session.date}}</p></td>
                                    <td><a href="{% url 'training-delete' session.id %}" class="btn btn-danger delete-session">delete</a></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
         <div class="card">
                <div class="card-body">
                    <h6 class="text-center">Pending Training Sessions</h6>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Session ID</th>
                                    <th>Date</th>
                                    <th>Add</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for pending in pendings %}
                                <tr>
                                    <td><a href="{% url 'training-detail' pending.id %}" >{{pending.id}}</a></td>
                                    <td><p class="text-muted" >{{pending.date}}</p></td>
                                    <td><a href="{% url 'training-update' pending.id %}" class="btn btn-primary add-session">update</a></td>
                                    <td><a href="{% url 'training-delete' pending.id %}" class="btn btn-danger delete-session">delete</a></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'unavailable-players' %}" class=" btn btn-outline-success btn-block">View unavailable players</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content%}
