{% extends "base.html" %}
{% block content %}
{% load static%}
<style>
.card {
border-radius: 5px;
box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
border: none;
margin-bottom: 30px;
}
.card .card1 {
background-color: #4c70b9;
padding-top: 12px;
padding-bottom: 12px;
border-bottom: none;
padding: 25px 20px;
}
.card .card2 {
background-color: #20B2AA;
padding-top: 12px;
padding-bottom: 12px;
border-bottom: none;
padding: 25px 20px;
}
.card .card3 {
background-color: #191970;
padding-top: 12px;
padding-bottom: 12px;
border-bottom: none;
padding: 25px 20px;
}
.card .card4 {
background-color: #663399;
padding-top: 12px;
padding-bottom: 12px;
border-bottom: none;
padding: 25px 20px;
}
.total-layers-title, .available-players-title, .injured-players-title, .coach-title{
letter-spacing:2px;
color:#fff;
text-transform:uppercase;
}
.card-block {
 padding: 1.35rem;

}
.total-players a, .available-players a, .injured-players a,.coaches a{
font-size:30px;
font-weight:600;
}

.training-btn {
    color: #fff;
    padding: 13px 25px;
    font-size: 14px;
    letter-spacing:2px;
    text-transform: capitalize;
    font-weight: 500;
    background: #1A76D1;
    position: relative;
    box-shadow: none;
    display: inline-block;
    border-radius: 4px;
}
.training-btn:hover {
    color: #fff;
    background: linear-gradient(to right, indigo, violet);
}
.contract-btn {
    color: #fff;
    padding: 13px 25px;
    font-size: 14px;
    letter-spacing:2px;
    text-transform: capitalize;
    font-weight: 500;
    background: green;
    position: relative;
    box-shadow: none;
    display: inline-block;
    border-radius: 4px;
}
.contract-btn:hover {
    color: #fff;
    background: linear-gradient(to right, purple, blue);
}
.injury-btn {
    color: #fff;
    padding: 13px 25px;
    font-size: 14px;
    letter-spacing:2px;
    text-transform: capitalize;
    font-weight: 500;
    background: #191970;
    position: relative;
    box-shadow: none;
    display: inline-block;
    border-radius: 4px;
    transition-duration:1s;
}
.injury-btn:hover {
    color: #fff;
    background: linear-gradient(to right, purple, maroon);
}
.inaccessible-btn {
    color: #fff;
    padding: 13px 25px;
    font-size: 14px;
    letter-spacing:2px;
    text-transform: capitalize;
    font-weight: 500;
    background: purple;
    position: relative;
    box-shadow: none;
    display: inline-block;
    border-radius: 4px;
}
.inaccessible-btn:hover {
    color: #fff;
    background: linear-gradient(to right, green, blue);
}
</style>

 <section class="slider">
			<div class="hero-slider">
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('static/images/diapo-rennes-20b.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>Get all <span>Our Latest</span> News, Results and <span>Fixtures!</span></h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam. </p>
									<div class="button">
										<a href="#" class="btn">Glory Glory</a>
										<a href="#" class="btn primary">We Value You</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('static/images/diapo-rennes-12.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>Get all <span>Our Latest</span> News, Results and <span>Fixtures!</span></h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam. </p>
									<div class="button">
										<a href="#" class="btn">Glory Glory</a>
										<a href="#" class="btn primary">We Value You</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Start End Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('static/images/31.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>Get all <span>Our Latest</span> News, Results and <span>Fixtures!</span></h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam. </p>
									<div class="button">
										<a href="#" class="btn">Glory Glory</a>
										<a href="#" class="btn primary">We Value You</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
			</div>
		</section>
		<!--/ End Slider Area -->
<div class="container mt-4">
    <div class=" row totals justify-content-center">
        <div class="col-md-4">
            <div class="card mb-4 total-players">
                <div class="card-header card1">
                    <h6 class="text-center total-layers-title">Total Players</h6>
                </div>
                <div class="card-block text-center">
                    <h5><a href="{% url 'player-list' %}">{{players}}</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 injured-players">
                <div class="card-header card3">
                    <h6 class="text-center injured-players-title">Injured Players</h6>
                </div>
                <div class="card-block text-center">
                    <h5><a href="{% url 'injury-list' %}" >{{injured}}</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 coaches">
                <div class="card-header card4">
                    <h6 class="text-center coach-title">Coaches</h6>
                </div>
                <div class="card-block text-center">
                    <h5><a href="{% url 'coach-list' %}" >{{coaches}}</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container home-btn">
<div class="row justify-content-start">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'session-list' %}" class=" btn btn-block mb-2 training-btn">Training Sessions</a>
            </div>
        </div>
    </div>
        <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'contracts' %}" class="btn  btn-block mb-2 contract-btn">Player Contracts</a>
            </div>
        </div>
    </div>
        <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'injury-list' %}" class=" btn  btn-block mb-2 injury-btn">Injuries</a>
            </div>
        </div>
    </div>
        <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'unavailable-players' %}" class=" btn btn-block inaccessible-btn">inaccessible players</a>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock content%}
