{% load static %}
<!--Topbar-->
<div class="topbar" style="background-color:#f6f6f6 !important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-5 col-12">
                <!-----Contact---->
                <ul class="top-link">
                   {% if user.is_authenticated %}
                    <a  class=" " href="{% url 'logout' %}" style="letter-spacing:2px; color:red;">logout</a>
                    {% else %}
                     <a href="{% url 'user-login' %}"  class="">user login<i class="fa fa-key ml-2"></i></a>
                    {% endif %}
                </ul>
                <!----End contact--->

            </div>
            <div class="col-lg-6 col-md-7 col-12">
                <!----Top Contact---->
                <ul class=" top-contact">
                    {% if user.is_authenticated %}
                    <span class="text-muted">Logged in user : </span><span style="letter-spacing:2px;font-size:15px;"><a href="{% url 'profile' %}" >{{user.first_name}}  {{user.last_name}}</a></span>

                    {% endif %}

                </ul>
                <!--End Top Contact-->
            </div>
        </div>
    </div>
</div>
<!---End Topbar--->
<!---Header Inner--->
<div class="header-inner mb-4">
    <div class="container">
        <div class="inner">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12">
                    <!----Start Logo----->
                    <div class="logo">
                        <a href="">
                             <h1 class="logo-text"><span>Thuch</span>eiz FC</h1>
                        </a>
                    </div>
                    <!----End Logo--->
                    <!--Mobile Nav---->
                    <div class="mobile-nav">

                    </div>
                    <!------End Mobile Nav---->
                </div>
                <div class="col-lg-7 col-md-9 col-12">
                    <!----Main Menu--->
                    <div class="main-menu">
                        <nav class="navigation">
                            <ul class="nav menu">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li class=""><a href="" >squad</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'coach-list' %}">coaches</a></li>
                                        <li><a href="{% url 'player-list' %}">players</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'news-list' %}">news</a></li>
								<li><a href="{% url 'result-list' %}">Results</a></li>
                                <li><a href="{% url 'fixture-list' %}">Fixtures</a></li>

                            </ul>
                        </nav>
                    </div>
                    <!----End Main Menu------>
                </div>

            </div>
        </div>
    </div>
</div>
<!----End Header Inner--->